@font-face {
font-family: 'NordRegular';
src: url('../fonts/NordRegular.eot');
src: url('../fonts/NordRegular.eot?#iefix') format('embedded-opentype'),
/*url('../fonts/NordRegular.woff') format('woff'),*/
url('../fonts/NordRegular.ttf') format('truetype'),
url('../fonts/NordRegular.svg') format('svg');*/
font-weight: 900;
font-style: normal;
}



/*Общие*/

* {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	/*background: rgba(204,204,255, 0.5);*/
}

html {
	font-size: 1vw;

}

.container {
	margin: 0 auto;
	padding-left: 35rem;
  	padding-right: 35rem;

}

.main-body {
	font-family: "Tahoma", sans-serif;
	font-weight: 400;
	width: 100%;
	overflow-x: hidden;
	background-color: #fff;

}

.main-content__title {
	font-weight: 100;
	font-size: 40px;
	color: rgba(175, 47, 47, 0.35);
	text-align: center;
	font-family: "NordRegular";
}

.todoapp{
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.4);
	padding: 5px 0px;
}

.todo-write{
	display: flex;	
	align-items: center;
	box-shadow: inset 0px -2px 4px -2px rgba(0,0,0,0.4);
	padding-bottom: 2px;
	padding-right: 15px;	
}

.write-check-label{
	width: 40px;	
	height: 40px;
	box-sizing: border-box;
	flex-shrink: 0;	
	margin-right: 20px;	
	position: relative;
}

.write-input-check {
	display: none;
}

.write-check-label::before{
	content: '';
	position: absolute;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-bottom: 2px solid rgba(153,153,153,0.4);
	border-right: 2px solid rgba(153,153,153,0.4);
	transform: rotate(45deg);
	left: 15px;
	top:10px;
}

.write-input-in{
	width: 100%;
	padding: 10px 0px;
	color: #4d4d4d;	
	font-weight: 700;
	font-size: 20px;		
}
.todoapp-items{
	display: flex;
}

.todo-item {
	padding-left: 10px;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding-right: 15px;
	border-bottom: 1px solid #ccc;
	position: relative;		
}

.item-check-label {
	border: 1px solid #ccc;
	border-radius: 50%;
	width: 25px;	
	height: 25px;
	flex-shrink: 0;	
	display: inline-block;
	margin-right: 15px;	
	position: relative;

}

.item-check-label::before {
	width: 7px;	
	height: 15px;	
	content: "";
	display: inline-block;	
	border-bottom: 1px solid green;
	border-right: 1px solid green;
	transform: rotate(45deg);
	position: absolute;
	left: 50%;
	margin-left: -3.5px;
	top: 1px;
	opacity: 0;			
}
.item-input-check {
	display: none;	

}
.item-input-check:checked ~ .item-check-label::before {
	display: inline-block;	
	opacity: 1;	
}
.todo-item__span {
	width: 100%;
	padding: 10px 0px;
	color: #4d4d4d;	
	font-weight: 700;
	font-size: 20px;
	transition: all 0.4s;	
}
.item-input-check:checked ~ .todo-item__span {
	text-decoration:line-through;
	color: #d9d9d9;

}
.todo-item:hover  .todo-item__close::before {
	display: inline-block;
}
.todo-item__close {
	position: absolute;
	width: 10px;
	height: 10px;
	right: 10px;
	top: 50%;
	margin-top: -5px;
	color: #cc9a9a;
	font-weight: 700;
	background-color: transparent;
}
.todo-item__close::before {
	content: "×";
	line-height: 0px;
	font-size: 28px;
	display: none;
}
.todo-item__close:hover::before {
	color: #913D40;
	cursor: pointer;
}

.edit {
	position: relative;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	color: inherit;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 5px 50px;
	margin:0;
}

/* filters */

.todo-filters{
	display: flex;
	padding: 10px;
	padding-left: 10px;
	justify-content: center;
}

.filter-btns {
	margin: 0 auto;
}

.filter-btn {
	border: 1px solid transparent;
	padding: 2px 7px;
	border-radius: 3px;
}

.filter-btn.active {
	border-color:  rgba(175, 47, 47, 0.2);
}

.btn-clear-completed {
	background-color: transparent;
}